@import "./styles/colors.css";
@import "./styles/variables.css";
@import "./styles/animations.css";

@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#050816;
  color:white;
  font-family:'Poppins',sans-serif;
  overflow-x:hidden;
}

@keyframes shine {

  0%{
    transform:translateX(-250px) rotate(12deg);
  }

  100%{
    transform:translateX(650px) rotate(12deg);
  }

}